body {
    font-family: "Roboto", Sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    font-weight: 500;
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    visibility: visible !important;
    opacity: 1 !important;
}

.logo a{
    font-size: 60px;
    font-weight: 600;
    text-decoration: none;
    color: white !important;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

main section {
    padding: 20px;
    margin: 10px 0;
}

footer {
    background-color: #05141F;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-block {
    flex: 1;
    padding: 0 20px;
}

.footer-block h3 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
}

.footer-block p,
.footer-block ul {
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    justify-content: space-between;
}

.footer-block ul {
    list-style-type: none;
    padding: 0;
}

.footer-block ul li {
    margin-bottom: 10px;
}

.footer-block ul li a {
    color: #fff;
    text-decoration: none;
}
.footer-block i{
    font-size: 20px;
    padding-right: 120px;
}