body, html {
    font-family: "Roboto", Sans-serif;
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
}

header {
    font-weight: 500;
    font-size: 18px;
    color: white;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute; 
    top: 0; 
    width: 100%; 
    z-index: 10; 
    opacity: 1; 
}

.logo a{
    font-size: 60px;
    font-weight: 600;
    text-decoration: none;
    color: white !important;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #05141F;
    border-radius: 5px;
}

main section {
    margin: 0;
}

footer {
    background-color: #05141F;
    color: #fff;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0px 20px;
}

.footer-block {
    flex: 1;
    padding: 0 20px;
}

.footer-block h3 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
}

.footer-block p,
.footer-block ul {
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    justify-content: space-between;
}

.footer-block ul {
    list-style-type: none;
    padding: 0;
}

.footer-block ul li {
    margin-bottom: 10px;
}

.footer-block ul li a {
    color: #fff;
    text-decoration: none;
}
.footer-block i{
    font-size: 20px;
    padding-right: 120px;
}
/* Fullscreen slider styling */
.swiper-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.swiper-slide {
    position: relative;
}

.swiper-slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.content-overlay {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    opacity: 0;
    transform: translate(-50%, 100px);
    animation: slideUp 1s ease-out forwards;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translate(-50%, 100px); 
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}


.content-overlay h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

.content-overlay p {
    font-size: 1.2em;
    margin-bottom: 35px;
}

.content-overlay .btn {
    display: inline-block;
    margin-top: 0px;
    padding: 10px 20px;
    border: 2px solid #ddd;
    background-color: white;
    color: #05141F;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.content-overlay .btn:hover {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}


.swiper-button-next, .swiper-button-prev {
    color: white !important;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

.blogs{
    padding: 10px;
    background-color: #05141F;
    color: #fff;
    padding-top: 30px;
}

.BLOG-TITLE{
    font-size: 32px;
    padding-left: 20px;
}

.blogs-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-bottom: 30px;
}

.blog {
    padding: 20px;
    width: 30%;
}

.blog-img {
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.white-strip {  
    background-color: #F7F8F833 !important;
    width: 100%;
    margin-top: 1px;
}

.car-models-section {
    padding: 20px 0px 60px 20px;
    background-color: #05141F;
    color: #fff;
    margin-top: -10px;
}

.section-title {
    margin-bottom: 20px;
    font-size: 28px;
    margin-top: 0;
    padding-left: 20px;
}

.car-models-container {
    display: flex;
    gap: 20px;
}

.car-model {
    padding: 15px;
    width: 30%;
}

.car-img {
    max-width: 100%;
    height: auto;
}

.car-model-title {
    margin: 10px 0;
    font-size: 28px;
}


.test-drive-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    border: 2px solid #ddd;
    background-color: white;
    color: #05141F;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.test-drive-button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.logo-modellen{
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 60px !important;
    font-weight: 600;
    color: white !important;
}
.spase{
    padding-top: 120px;
}